.myContainerClass {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30em;
  height: fit-content;
  margin-top: -9em;
  margin-left: -15em;
  padding: 1.5em;
  box-shadow: 0px 0px 23px 0px #cecece;
  background: #ffffff;
}

.subjectNavLinks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 10px;
}
.navBox {
  background: #fff;
  width: 31%;
  height: 35px;
  display: grid;
  place-items: center;
  border-radius: 5px;
  font-weight: bold;
}

.myActiveLink {
  border: 1px solid #ffc135;
  box-shadow: 0px 0px 19px 6px #f1c767;
}
.myActiveLink2 {
  border: 1px solid #b3b0ab;
  border-bottom: 0px;
  background-color: #fff;
  padding: 0.5rem 1rem 0.85rem 1rem;
  margin: 10px;
}
.navLink2 {
  padding: 0.5rem 1rem 0.85rem 1rem;
  margin: 10px;
}
