@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap");
a,
a.active,
a:hover {
  text-decoration: none;
  color: black;
}
body {
  margin: 0;
  font-family: "Sora", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #e4e4e4;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
